<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans|Inconsolata" rel="stylesheet">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/styles/default.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">

    <style>
      .section {
        padding-top: 2em;
        padding-bottom: 2em;
      }

      .divider {
        height: 1em;
      }
      
      body {
        font-family: 'IBM Plex Sans', sans-serif;
      }

      pre, code, kbd, samp {
        font-family: 'Inconsolata', monospace;
      }
    </style>

    <title>Solid Todo</title>
  </head>
  <body>
    <div id="app">
      <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-4">Solid Todo</h1>
          <p class="lead" v-if="session">
            Welcome <b v-bind:title="session.webId">{{ name }}</b></small>!
          </p>
          <p v-if="session">
            Using file <code>{{ storageFile }}</code> for storage.
          </p>
          <p class="lead" v-if="!session">
            You aren't logged in.
          </p>
          <p class="lead">
            <button v-if="!session" v-on:click="login()" type="button" class="btn btn-primary">Login</button>
            <button v-if="session" v-on:click="logout()" type="button" class="btn btn-primary">Logout</button>
            <button v-if="session" v-on:click="save()" type="button" class="btn btn-primary">Save</button>
            <button v-if="session" v-on:click="load()" type="button" class="btn btn-primary">Load</button>
          </p>
        </div>
      </div>

      <div class="section container">
        <h2>Todos</h2>
        <button type="button" class="btn btn-success" v-on:click="add()"><i class="fas fa-plus"></i> &nbsp; Add</button>
        <div class="divider"></div>
        <ul class="list-group" id="todos">
          <button type="button" class="list-group-item list-group-item-action" v-for="(todo, k) in todos" v-on:click="todo.done = !todo.done">
            <i v-if="todo.done" class="fas fa-check-square fa-fw"></i>
            <i v-if="!todo.done" class="fas fa-square fa-fw"></i>
            <span v-bind:style="{ fontStyle: (todo.done ? 'italic' : 'normal'), textDecoration: (todo.done ? 'line-through' : 'none') }" v-bind:class="{ 'text-muted': todo.done }">
              {{ todo.name }}
            </span>
            <a href="#" class="btn btn-danger btn-sm float-right" v-on:click="$delete(todos, k)" v-if="todo.done" style="height: 24px; padding-top: 0; padding-left: 4px; padding-right: 4px;"><i class="fas fa-trash fa-fw fa-sm"></i></a>
          </button>
        </ul>
      </div>

      <div class="section container">
        <h2>JSON</h2>
        <div class="divider"></div>
        <pre><code>{{ todos | pretty }}</code></pre>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>

    <script src="https://linkeddata.github.io/rdflib.js/dist/rdflib.min.js"></script>
    <script src="https://solid.github.io/solid-auth-client/dist/solid-auth-client.bundle.js"></script>
    <script src="https://cdn.staticaly.com/gh/jeff-zucker/solid-file-client/master/solid-file-client.js"></script>

    <script>
      const fileClient = new SolidFileClient();
      const FOAF = $rdf.Namespace("http://xmlns.com/foaf/0.1/");

      var app = new Vue({
        el: '#app',
        data: {
          session: null,
          store: null,
          fetcher: null,
          todos: [
            {
              "name": "Wash the dishes",
              "done": false
            },
            {
              "name": "Get tomato ketchup",
              "done": true
            }
          ]
        },
        methods: {
          login: function(e) {
            fileClient.popupLogin().then(webId => {
              if (!webId) console.log("ERROR", fileClient.err)
              else console.log("Logged in using Vue method.");
            });
          },
          logout: function(e) {
            fileClient.logout().then(() => {
              console.log("Logged out using Vue method.");
            });
          },
          add: function(e) {
            this.todos.push({
              id: uuid(),
              name: prompt("What is your task?"),
              done: false
            });
          },
          save: function() {
            fileClient.readFile(this.storageFile).then(success => {
              if (!success) {
                fileClient.createFile(this.storageFile).then(success => {
                  if (!success) console.log("CREATE ERROR", fileClient.err)
                  else console.log("Created storage file");
                });
              }

              fileClient.updateFile(this.storageFile, JSON.stringify(this.todos)).then(success => {
                if (!success) console.log("UPDATE ERROR", fileClient.err)
                else console.log("Updated storage file");
              });
            });
          },
          load: function() {
            fileClient.readFile(this.storageFile).then(body => {
              if (!body) {
                console.log("READ ERROR", fileClient.err);
                return;
              }

              console.log("CONTENT", body.value);
              this.todos = JSON.parse(body.value);
            });
          }
        },
        computed: {
          storageFile: function() {
            var url = this.session.webId.split("/")[2];
            return `https://${url}/public/todo.json`;
          },
          name: function() {
            let name = this.store.any($rdf.sym(this.session.webId), FOAF("name"));
            return name && name.value;
          }
        },
        filters: {
          pretty: function(value) {
            return JSON.stringify(value, null, 2);
          }
        }
      });

      function uuid() {
        function s4() {
          return Math.floor((1 + Math.random()) * 0x10000)
            .toString(16)
            .substring(1);
        }
        return s4() + s4() + '-' + s4() + '-' + s4() + '-' + s4() + '-' + s4() + s4() + s4();
      }

      solid.auth.trackSession(async function(session) {
        console.log("Session updated, updating in Vue...");

        if (session) {
          let store = $rdf.graph();
          let fetcher = new $rdf.Fetcher(store);

          await fetcher.load(session.webId);

          app.store = store;
          app.fetcher = fetcher;
        }

        app.session = session;
      });
    </script>
  </body>
</html>