<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

    <title>Solid Todo</title>
  </head>
  <body>
    <div id="app">
      <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-4">Solid Todo</h1>
          <p class="lead" v-if="session">
            Welcome <b v-bind:title="session.webId">{{ name }}</b></small>!
          </p>
          <p class="lead" v-if="!session">
            You aren't logged in.
          </p>
          <p class="lead">
            <button v-if="!session" v-on:click="login()" type="button" class="btn btn-primary">Login</button>
            <button v-if="session" v-on:click="logout()" type="button" class="btn btn-primary">Logout</button>
          </p>
        </div>
      </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>

    <script src="https://solid.github.io/solid-auth-client/dist/solid-auth-client.bundle.js"></script>
    <script src="https://linkeddata.github.io/rdflib.js/dist/rdflib.min.js"></script>

    <script>
      const FOAF = $rdf.Namespace("http://xmlns.com/foaf/0.1/");

      async function getStore() {
        const store = $rdf.graph();
        const fetcher = new $rdf.Fetcher(store);

        await fetcher.load(app.$data.session.webId);
        
        app.$data.store = store;
        app.$data.fetcher = fetcher;

            //const fullName = store.any($rdf.sym(app.$data.session.webId), FOAF("name"));
            //console.log(fullName);
            //return fullName && fullName.value;
      }

      var app = new Vue({
        el: '#app',
        data: {
          message: 'Hello Vue!',
          popupUri: "popup.html",
          session: null,
          store: null,
          fetcher: null
        },
        methods: {
          login: async function(e) {
            let session = await solid.auth.currentSession();
            let popupUri = this.$data.popupUri;
            if (!session)
              session = await solid.auth.popupLogin({ popupUri });
            
            if (session) {
              this.$data.session = session;
              getStore();
            }
          },
          logout: async function(e) {
            solid.auth.logout();
            store = null;
          }
        },
        computed: {
          name: function() {
            let name = this.$data.store.any($rdf.sym(this.$data.session.webId), FOAF("name"));
            return name && name.value;
          }
        }
      });

      solid.auth.trackSession(session => {
        app.session = session;
      });
    </script>
  </body>
</html>